[submodule "FFXIVClientInterface"]
	path = FFXIVClientInterface
	url = https://github.com/Critical-Impact/FFXIVClientInterface.git
[submodule "LuminaSupplemental"]
	path = LuminaSupplemental
	url = https://github.com/Critical-Impact/LuminaSupplemental
[submodule "CriticalCommonLib"]
	path = CriticalCommonLib
	url = https://github.com/emyxiv/CriticalCommonLib.git
[submodule "DalaMock"]
	path = DalaMock
	url = https://github.com/Critical-Impact/DalaMock.git
