[submodule "FFXIVClientInterface"]
	path = FFXIVClientInterface
	url = https://github.com/Critical-Impact/FFXIVClientInterface.git
[submodule "CriticalCommonLib"]
	path = CriticalCommonLib
	url = https://github.com/Critical-Impact/CriticalCommonLib.git
[submodule "Penumbra.GameData"]
	path = Penumbra.GameData
	url = https://github.com/Ottermandias/Penumbra.GameData
[submodule "Penumbra.Api"]
	path = Penumbra.Api
	url = https://github.com/Ottermandias/Penumbra.Api
[submodule "Penumbra.String"]
	path = Penumbra.String
	url = https://github.com/Ottermandias/Penumbra.String
[submodule "KamiToolKit"]
	path = KamiToolKit
	url = https://github.com/MidoriKami/KamiToolKit
[submodule "Luna"]
	path = Luna
	url = https://github.com/Ottermandias/Luna.git
